@media (max-width: 768px) {
    
    .layout {
        grid-template-columns: 1fr;
    }

    .filters-toggle-button {
        position: fixed;
        top: 50%;
        left: 0;
        writing-mode: vertical-rl;
    }

    .backdrop {
        position: fixed;
        inset: 0;
        background-color:  rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .filters {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 210px;
        background-color: var(--background);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2;
    }

    .filters--open {
        transform: translateX(0);
    }

}