
.product {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--background);
    gap: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
       		    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.product--sold-out {
    opacity: 0.7;
}

.product__in-stock {
    color: green;
    background-color: color-mix(in oklch, var(--background), green 20%);
    padding: 0.125rem 0.25rem;
    width: fit-content;
    border-radius: 4px;
    font-size: 0.75rem;
}

.product__out-stock {
    color: red;
    background-color: color-mix(in oklch, var(--background), red 20%);
    padding: 0.125rem 0.25rem;
    width: fit-content;
    border-radius: 4px;
    font-size: 0.75rem;
}

.product__name {
    font-size: 1.125rem;
    font-weight: 700;
}

.product__brand {
    font-style: italic;
}

.product__category {
    color: var(--primary);
    background-color: var(--background);
    padding: 0.125rem 0.25rem;
    width: fit-content;
    border-radius: 4px;
    font-size: 0.75rem;
}

.product__price {
    font-weight: 700;
}

.product__rating {
    font-size: 0.9rem;
}
