.filters {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

.filters__heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.filters__dropdown {

}

.filters__subheading-container {
    display: flex;
    gap: 0.5rem;
}

.filters__button--dropdown {
    background-color: var(--background);
    border: none;
    transition: transform 0.05s ease-in-out;
}

.filters__button--dropdown:active {
    transform: rotate(90deg);
}

.filters__subheading {
    font-weight: 700;
}

.filters__dropdown-menu {
    padding: 0.5rem 0 0.5rem 1rem;
}

.filters__button--close {

    position: fixed;
    top: 2rem;
    right: 1rem;

}