
.filters {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    background-color: color-mix(in oklch, var(--primary), transparent 80%);
}

.filters__heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.filters__groups {
    margin-left: 0.5rem;
}

.filters__subheading-container {
    display: flex;
    gap: 0.5rem;
}

.filters__button--dropdown {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease-in-out, transform 0.05s ease;
}

.filters__button--dropdown:hover {
    transform: scale(1.2);
}

.filters__button--dropdown:focus-visible {
    outline: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 4px solid black;
}

.filters__button--dropdown:active {
    transform: rotate(90deg);
}

.filters__subheading {
    font-weight: 700;
}

.filters__dropdown-menu {
    margin-left: 1rem;
    padding: 0.5rem 0;
}

.filters__option {
    display: flex;
    gap: 0.5rem;
}

.filters__button--close {

    position: fixed;
    top: 2rem;
    right: 1rem;

    padding: 0.25rem 0.5rem;
    color: var(--primary);
    background-color: color-mix(in oklch, var(--primary), transparent 90%);
    font-weight: 700;
    border: 1.5px solid var(--primary);
    border-radius: 4px;

}

.filters__button--close:active {
    transform: scale(0.98);
    opacity: 0.6;
}
