.filters {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

.filters__heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.filters__dropdown {
    border: 2px solid black;
}

.filters__subheading-container {
    display: flex;
    gap: 0.5rem;
}

.filters__button--dropdown {
    
}

.filters__subheading {
    font-weight: 700;
}

.filters__dropdown-menu {
    padding-left: 1rem;
}

.filters__price-list {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;
    padding: 0 0.25rem;
}
