
.footer {
    padding: 2rem 1rem;
    background-color: color-mix(in oklch, var(--background), black 10%);
    text-align: center;
}

.footer__link {
    color: var(--primary);
    transition: color 0.1s ease-in-out;
}

.footer__link:hover {
    color: color-mix(in oklch, var(--primary), black 20%);
}

.footer__link:focus-visible {
    outline: 1.5px solid var(--primary);
    border-radius: 4px; 
    outline-offset: 1.5px;
} 

.footer__link:active{
    opacity: 0.6;
}
