
.price-range {
    padding: 1rem 0;
}

.price-range__slider {
    width: calc-size(200px - 1.5rem);
}

.price-range__list {
    display: flex;
    justify-content: space-between;
    width: calc-size(200px - 1.5rem);
    margin-bottom: 0.5rem;
}

.price-range__option {
    font-size: 0.75rem;
}
