
.hidden {
    display: none;
}

.button--primary {
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 8px;
    border: none;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

.button--primary:hover {
    background-color: color-mix(in oklch, var(--primary), black 20%);
    transform: translateY(-1px);
}

.button--primary:focus-visible {
    outline: 2px solid var(--text);
    outline-offset: -2px;
}

.button--primary:active {
    transform: translateY(0) scale(0.98);
    background-color: color-mix(in oklch, var(--primary), transparent 20%);
    transition: none;
}
